{% extends 'base.html'%}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{profile.name}}</h3>
    <h3>{{profile.email}}</h3>
    <h3>{{profile.mobile}}</h3>
    <hr/>
    <br/>
    <p>Summary</p>
    <p>{{profile.summary}}</p>
    <p>Skills</p>
    <p>{{profile.skills}}</p>
    <p>Qualification</p>
    <ul>
        <li>{{profile.school}}</li>
        <li>{{profile.university}}</li>
    </ul>
   {% endblock %} 
</body>
</html>